*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  overflow-x: hidden;
}

a{
  font: normal normal bold 12px/18px Brandon Grotesque;
  letter-spacing: 1.2px;
  color: #000000;
  opacity: 1;
}

.body{
  position: relative;
  background-color: #F7F7F7;

}

.header{
  position: absolute;
  top: 27px;
  left: 23px;
  right: 127px;
}

.header-box{
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo-box{
  width: 27px;
  height: 27px;
  border: 8px solid #000000;
  border-radius: 50%;
}

.nav-list{
  display: flex;
  flex-direction: row;
}

.nav-list-container{
  height: 22px;
  border-right: 1px solid black;
}

.nav-links{
  padding: 0px 29.5px 0px ; 
  transition: all .3s ease-out;
}

.nav-links::after{
  content: " ";
  width: 0;
  height: 2px;
  background-color: #000000;
  margin: auto;
  display: block;
}

.nav-links:hover::after{
  width: 70%;
  transition: linear 0.3s width ;
}


li:nth-of-type(4){
 border: none;
}

.heading-box{
  position: absolute;
  top: 150px;
  left: 180px;
}

.header-box::first-line{
  font: normal normal bold 30px/43px Brandon Grotesque;
  letter-spacing: 9px;
  color: #262626;
  opacity: 1;
}

.impact-box{
  width: 642px;
  height: 100px;
  top: 253px;
  left:180px;
  position: absolute;
}

.text{
  font: normal normal normal 33px/49px Tisa OT;
  letter-spacing: 0px;
  color: #262626;
}

.text:first-child{
  font: normal normal normal 28px/49px Tisa OT;
  letter-spacing: 1.11px;
  color: #262626;
}

.container-box{
  position: absolute;
  display: flex;
  top: 442px;
  left: 0px;
  width: 100%;
  height: 909px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(302deg, #051937 0%, #06162E 16%, #071326 45%, #050E1E 79%, #020916 100%) 0% 0% no-repeat padding-box;
  opacity: 0.01;
}

.secondary-heading{
  position: absolute;
  top: 532px;
  left: 180px;
}

.secondary-heading::first-line{
  text-align: left;
  font: normal normal bold 25px/30px Brandon Grotesque;
  letter-spacing: 5px;
  color: #111111;
}

.second-impact-box{
  position: absolute;
  top: 621px;
  left: 180px;
  width: 512px;
}

.second-text{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-262626);
  text-align: left;
  font: normal normal normal 25px/44px Tisa OT;
  letter-spacing: 0px;
  color: #262626;
}

.second-text:first-child{
  letter-spacing: var(--unnamed-character-spacing-0-88);
  color: var(--unnamed-color-262626);
  text-align: left;
  font: normal normal normal 22px/44px Tisa OT;
  letter-spacing: 0.88px;
  color: #262626;
}

.circle{
  top: 253px;
  left: 60%;
  width: 1011px;
  height: 1011px;
  background: transparent url('img/O.png') 0% 0% no-repeat padding-box;
  border-color: #000000;
  border:300px solid;
  opacity: 0.03;
  position: absolute;
  border-radius: 50%;
}

.contact-box{
  top: 969px;
  left: 90px;
  right: 90px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #1c23a5 ;
  border-radius: 6px;
  opacity: 1;
  width: 1740px;
  height: 923px;
}

.row{
  display: flex;
  margin-top: 120px;
  margin-bottom: 123px;
  margin-left: 210px;
  margin-right: 211px;
  justify-content: space-between;
  align-items: center;
}

.row-2{
  display: flex;
  margin-bottom: 124px;
  margin-left: 210px;
  margin-right: 211px;
  justify-content: space-between;
  align-items: center;
}

.profile-block{
  width: 199px;
  height: 278px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center;
}

.profile-block-box{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  width: 199px;
  height: 278px;    
}


.profile-picture{
  width: 199px;
  height: 198px;
}

.profile-image{
  width: 199px;
  height: 188px;
  border-radius: 50%;
  object-fit: cover;
}

.name{
  text-align: left;
  font: normal normal normal 14px/20px Tisa OT;
  letter-spacing: 0.28px;
  color: #111111;
  opacity: 1;
  margin-top: 17px;
  margin-bottom: 15px;
}

.profession{
  text-align: left;
  font: normal normal normal 14px/20px Tisa OT;
  letter-spacing: 0.28px;
  color: #111111;
  opacity: 1;
  margin-bottom: 15px;
}